*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    text-decoration: none;
    margin: 0;
    list-style: none;
}

:root {
  --main-color: #ffffff;
  --secun-color: #475dda;
  --primary: 250 66% 61%; 
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #00021b;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh; 
  width: 110px;  
  background-color: #0e1435; 
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
}

.efeito1 {
  opacity: 0;
  transform: translateX(-100px); 
  transition: all 0.8s ease-out;
}

.efeito2 {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.efeito3 {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-out;
}

.visivel {
  opacity: 1;
  transform: translateY(0);
}

.logo{
  position: absolute;
  top: 5%;
  left: -10%;
}

.logo img{
  height: 130px;
  width: auto;
}

.menu {
  padding: 15px;
  margin-top: 350px;
}

.menu li {
  margin-bottom: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  height: 45px;
  color: var(--main-color);
  transition: 0.4s;
  border-width: 0 15px;
  border-style: solid;
  border-color: transparent; 
  border-radius: 12px;
}

.menu a:hover {
  border-color: rgba(83, 82, 82, 0.0);
  background-color: rgba(83, 82, 82, 0.2); 
  border-style: solid;
  border-radius: 12px;
}

.desc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  color: var(--main-color);
}

.desc-text {
  position: absolute;
  left: 200%; 
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secun-color);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  opacity: 0;
  transition: 0.3s ease;
  font-size: 14px;
  z-index: 10;
}

.desc:hover .desc-text {
  opacity: 1;
  visibility: visible;
}

/* home page _________________________________________________________________ */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-image: url('img/mapa.png');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: 1;
  pointer-events: none; 
}

.conteudo {
  position: relative;
  z-index: 2;
  color: white;
  padding: 2rem;
  top: 42%;
  left: 30%;
}

.conteudo h2{
  color: var(--secun-color);
  font-size: 3rem;
}

.conteudo p{
  color: var(--main-color);
  font-size: 20px;
  align-self: center;
  margin-left: 120px;
  margin-top: 20px;
}

.botao{
  padding: 2em;
  width: 17%;
  max-width: 100%;
  background: #1c1f2b;
  border-radius: 10px;
  position: relative;
  left: 10%;
  margin-top: 40px;
  cursor: pointer;
}

.botao h1{
  font-size: 30px;
  color: var(--secun-color);
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.botao::after, .botao::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  background: conic-gradient(
    from var(--angle),
    #475dda 0deg,
    #475dda 90deg,
    transparent 90deg,
    transparent 360deg
  );
}

.botao::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.inner {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  background: radial-gradient(100px circle at var(--mouseX, 50%) var(--mouseY, 50%),rgba(71, 93, 218, 0.3),transparent 60%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.botao:hover .inner {
  opacity: 1;
}


  /* pagina 2 _________________________________________________________________ */

.segunda{
  margin-top: 50px;
  display: flex;
  position: relative;
}

#descricao {
  scroll-margin-top: 50px
}

.sobre h1{
  color: var(--secun-color);
  font-size: 3rem;
  position: relative;
  left: 25%;
}

.sobre h2{
  margin-top: 30px;
  margin-left: 260px;
  font-size: 1.6rem;
  color: white;
  max-width: 700px;
  }

  .cel {
    width: clamp(280px, 39%, 420px);
    height: auto;
    position: absolute;
    top: 12px;
    left: 60%;
    display: flex;
    pointer-events: none;
  }

  #gps {
    width: clamp(260px, 35%, 380px);
    height: 820px;
    position: absolute;
    top: 26px;
    left: 61%;
    border-radius: 50px;
    display: flex;
    pointer-events: none;
  }

  .apagado {
    opacity: 0;
    filter: brightness(0) saturate(0) blur(1px);
    transform: none;
    transition: filter 1s ease, opacity 1s ease;
  }

  .ligado {
    opacity: 1;
    filter: brightness(1) saturate(1) blur(0);
  }


  /* pagina 3 _______________________________________________________________________________ */

  .terceira{
    width: 100%;
    height: 103vh;
background-image: linear-gradient(
    to bottom,
    #00021b,        /* topo: cor do site */
    #000000 10%,     /* meio: preto suave */
    #000000 90%,     /* base: mantém preto */
    #00021b         /* embaixo: volta à cor original */
  );
    margin-top: 110px;
  }

  .app {
  text-align: center; 
  padding-top: 400px;
}

  .app h1{
    color: var(--main-color);
    font-size: 40px;
  }

  .app h2{
    color: var(--secun-color);
    margin-top: 50px;
  }

.botoes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  flex-wrap: wrap;
  margin-top: 60px;
}

.btn {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.4s ease, transform 0.3s ease;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.4s ease, transform 0.3s ease;
  transform: scale(1.03);
}

.conteudo-botao {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bxl-play-store {
  font-size: 40px;
  color: white;
}

.bxl-apple{
  color: white;
  font-size: 40px;
}

.texto {
  text-align: left;
  line-height: 1.2;
}

.texto .cima {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.texto span:last-child {
  font-size: 18px;
  color: var(--secun-color);
}

.normal, .hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.normal {
  opacity: 1;
  z-index: 2;
}

.btn:hover .normal {
  transform: translate(-50%, -150%);
  opacity: 0;
}

.hover {
  opacity: 0;
  transform: translate(-50%, 150%);
  z-index: 1;
}

.btn:hover .hover {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.normal i, .hover i {
  font-size: 40px;
  color: white;
}

.texto {
  text-align: left;
  line-height: 1.2;
}

.texto .cima {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.texto span:last-child {
  font-size: 18px;
  color: var(--secun-color);
}

.botao-wrapper {
  position: relative;
  display: inline-block; 
}

.botao-wrapper::before {
  content: "⬇️ 100 KB";
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secun-color);
  color: #111;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  z-index: 2;
}

.botao-wrapper:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
  transition: 1.5s;
}

/* quarta  _________________________________________________*/

#contato{
  text-align: center;
  margin-top: 100px;
   scroll-margin-top: 100px
}

  #contato h1{
    color: var(--secun-color);
    font-size: 50px;
  }

  #contato p{
    color: var(--main-color);
    font-size: 23px;
    margin-top: 30px;
  }

  .principal {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  }

  .principal input{
    margin-top: 50px;
    display: block;
    width: 310px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    font-size: 20px;
  }

  .principal input:hover{
   box-shadow: 0px 0 10px white;
  }

  .secundario input{
    position: relative;
    left: 32%;
    display: block;
    margin-bottom: 10px;
    width: 35%;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    font-size: 20px;
     max-width: 700px;
}

  .secundario input:hover{
   box-shadow: 0px 0 10px white;
  }

  .secundario textarea{
    height: 200px;
    width: 34.5%;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 16px; 
  }

  .secundario textarea:hover{
      box-shadow: 0 0 10px 0 white;
  }

  input::placeholder, textarea::placeholder {
    color: var(--secun-color);        
    padding-left: 10px;
}

  input, textarea {
    padding-left: 15px;
    font-size: 22px;
    color: var(--secun-color);
}

.botao-enviar{
  width: 35%;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.botao-enviar:hover{
  background-color: var(--secun-color);
  box-shadow: 0 0 10px var(--secun-color),
              0 0 20px var(--secun-color);
  transition: 0.2s;
}

/* rodapé ___________________________________________________________ */

footer {
  background-color: black;
  width: 100%;
  padding: 90px 20px;
  box-sizing: border-box;
  margin-top: 300px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
}

.footer-container img {
  width: 200px;
  height: auto;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links .icones {
  display: flex;
  gap: 15px;
}

.links i {
  font-size: 35px;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}

.links p {
  color: white;
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
}

.bxl-github{
  color: #333333;;
  text-shadow: 0 0 15px #333333;;
  box-shadow: 0 30px 45px -17px white;
}

.bxl-github:hover{
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px white;
}

.bxl-linkedin-square{
  color: #0A66C2;
  text-shadow: 0 0 30px #0A66C2;
  box-shadow: 0 30px 45px -17px #0A66C2;
}

.bxl-linkedin-square:hover{
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px #0A66C2;
}

.bxl-gmail{
  color: #EA4335;
  text-shadow: 0 0 30px #EA4335;
  box-shadow: 0 30px 45px -17px #EA4335;
}

.bxl-gmail:hover{
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px #EA4335;
}

.bxl-instagram{
  color: #E1306C;
  text-shadow: 0 0 30px #E1306C;
  box-shadow: 0 30px 45px -17px #E1306C;
}

.bxl-instagram:hover{
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px #E1306C;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list a {
  color: white;
  font-size: 18px;
  position: relative;
}

.footer-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.footer-list a:hover::after {
  transform: scaleX(1);
}

/* responsivo _____________________________________________________________________________________*/

@media (max-width: 600px) { 

header {
  display: none;
}


html, body {
  overflow-x: clip;
}

.container {
  height: 80vh;
}

.container::before {
  filter: blur(1px);
}

.conteudo {
  top: 30%;
  left: 0%;
}

.conteudo h2{
  font-size: 28px;  
  white-space: nowrap;
  margin-left: -10px;
}

.conteudo p{
  font-size: 17px;
  margin-left: 30px;
}

.botao{
  width: 70%;
  left: 5%;
}

.botao h1{
  font-size: 25px;
}

/* segunda ________________________ */
 .segunda{
    margin-top: 40px;
  }

  .sobre h1{
    left: 5%;
  }

  .sobre h2{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    max-width: 350px;
  }

  .cel {
    width: clamp(200px, 39%, 200px);
    top: 850px;
    left: 25%;
  }

  #gps {
    width: clamp(180px, 35%, 200px);
    height: 390px;
    top: 859px;
    left: 27.7%;
    border-radius: 25px;
  }

  /* teceira  _______________________________________________ */
  
  .terceira{
    height: 100vh;
    margin-top: 540px;
  }

  .app {
  padding-top: 100px;
  }

  .app h1{
    font-size: 38px;
  }

  .botao-wrapper::before {
    top: 80px;
    left: 53%;
    font-size: 20px;
    opacity: 1;
  }

  .btn {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  /* QUARTA ____________________________________________________ */

    #contato h1{
    font-size: 30px;
  }

  .principal {
  gap: 0px;
  max-width: 400px;
  }

  .principal input{
    margin-top: 20px;
    width: 350px;
    height: 50px;
  }

  .secundario input{
    left: 5.3%;
    width: 345px;
    height: 50px;
    max-width: 400px;
}

  .secundario textarea{
    width: 330px;
    height: 200px;
  }

  .botao-enviar{
    width: 350px;
    height: 70px;
    margin-top: 20px;
    background-color: var(--secun-color);
    color: white;
    box-shadow: 0 0 10px var(--secun-color),
                0 0 20px var(--secun-color);
}

/* rodape ______________________________________________________________________ */

footer {
  padding: 10px 10px;
  margin-top: 100px;
}

.footer-container img {
  width: 130px;
  height: auto;
}

.links {
  margin-top: 50px;
  margin-left: 50px;
}

.links i {
  font-size: 25px;
}

.links p {
  margin-top: 30px;
  font-size: 15px;
}

.footer-list {
  align-items: flex-end;
  text-align: right;
  width: 100%;
  margin-right:10px;
  margin-top: -450px;
}

.footer-list a {
  font-size: 17px;
}



}